* {
    background-color: lightgray;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    font-size: 40px;
    font-weight: 500;
}
#img-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50%;
    width: 99%;
}
#img-caption {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5rem;
    background-color: white;
    font-weight: 100;
}
#tribute-info {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5rem;
    font-size: 17px;
}
h2 {
    font-size: 20px;
    font-weight: 100;
    margin-left: 2rem;
}
h3 {
    padding-top: 4vh;
    font-size: 22px;
}
h4 {
    font-size: 22px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
img {
    max-width: 95%;
    height: auto;
    align-self: center;
}

li {
    padding-top: 25px;
    font-size: 18px;
}
p {
    padding-top: 5vh;
    padding-left: 20px;
    color: rgb(0, 0, 0, 0.8);
}
